[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "==4.5.1.48"
tensorflow = "==2.6.0"
numpy = "==1.19.5"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.7.3"
